<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >LEND<i>perfecft</i></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active" ><a routerLink="home">Home</a></li>
        <li><a routerLink="profile">Profile</a></li>
        <li><a routerLink="dashboard">Dashboard</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="leads"><span class="badge padding" [style.backgroundColor]="badgeBackground">{{customers.length}}</span><span class="glyphicon glyphicon-user"></span> New Leads</a></li>
        <li><a routerLink="signup"><span class="glyphicon glyphicon-log-in"></span> Signup</a></li>
      </ul>
    </div>
  </nav>
  
